*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/Space.jpg);
    background-size: cover;
}

.globo{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-image: url(imagens/mundi.jpg);
    background-size: cover;
    box-shadow: -25px -25px 25px black inset, 10px 10px 30px white inset, 0px 0px 20px #3a96ff;
    animation: rotate 35s linear infinite;
}

@keyframes rotate{
    to{background-position: 100%;}
}

